<app-hearder></app-hearder>
<div class="menu-main">
  <app-menu></app-menu>
  <main id="main" class="main">
    <div class="pagetitle">
      <div>
        <h1>{{teacherId != null ? 'Sửa' : 'Thêm'}} giảng viên</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Admin</a></li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- End Page Title -->
    <div class="page-content"  *ngIf="teacherId == null">
      <div class="form-v5-content">
        <form class="form-detail" [formGroup]="addTeacherFrom">
          <h2>Thêm mới giảng viên</h2>
          <div class="form-row">
            <label for="full-name">Tên giảng viên</label>
            <input
              type="text"
              name="full-name"
              id="full-name"
              class="input-text"
              formControlName="teacherName"
              required
            />
            <i class="fas fa-user"></i>
            <label for="Email">Email</label>
            <input
              type="email"
              name="Email"
              id="Email"
              class="input-text"
              formControlName="email"
              required
            />
            <i class="fas fa-user"></i>
            <label for="full-name">Phone</label>
            <input
              type="text"
              name="Phone"
              id="Phone"
              class="input-text"
              formControlName="phone"
              required
            />
            <i class="fas fa-user"></i>
            <label for="re">Chọn bộ môn</label>
            <select class="form-select input-text" style="border: 1px solid #3786bd; width: 95%;" formControlName="subjectId">
              <option value="">Chọn bộ môn</option>
              <option *ngFor="let data of listSubjects" value={{data.subjectId}}>{{data.subjectName}}</option>
            </select>
            <i class="fas fa-user"></i>
            <label for="re">Hướng nghiên cứu</label>
            <input
              type="text"
              name="re"
              id="re"
              class="input-text"
              formControlName="researchDirection"
              required
            />
            <i class="fas fa-user"></i>
            <label for="re">Chọn giới tính</label>
            <select class="form-select input-text" style="border: 1px solid #3786bd; width: 95%;" formControlName="sex">
              <option value="">Chọn giới tính</option>
              <option value="Nam">Nam</option>
              <option value="Nữ">Nữ</option>
            </select>
            <i class="fas fa-user"></i>
          </div>
        </form>
        <form class="form-detail" [formGroup]="adduserForm">
          <div class="form-row">
            <label for="your-email">Username</label>
            <input
              type="email"
              name="your-email"
              id="your-email"
              class="input-text"
              required
              pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"
              formControlName = 'username'
            />
            <i class="fas fa-envelope"></i>
          </div>
          <div class="form-row">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="input-text"
              required
              formControlName = 'password'
            />
            <i class="fas fa-lock"></i>
          </div>
          <div class="form-row-last">
            <input
              type="submit"
              name="register"
              class="register"
              value="Register"
              (click)="addEditTeacher()"
            />
          </div>
          <div class="error-message">{{message}}</div>
        </form>
      </div>
    </div>
    <div class="page-content"  *ngIf="teacherId != null">
      <div class="form-v5-content">
        <form class="form-detail" [formGroup]="editTeacherFrom">
          <h2>Sửa giảng viên</h2>
          <div class="form-row">
            <label for="full-name">Tên giảng viên</label>
            <input
              type="text"
              name="full-name"
              id="full-name"
              class="input-text"
              formControlName="teacherName"
              required
            />
            <i class="fas fa-user"></i>
            <label for="Email">Email</label>
            <input
              type="email"
              name="Email"
              id="Email"
              class="input-text"
              formControlName="email"
              required
            />
            <i class="fas fa-user"></i>
            <label for="full-name">Phone</label>
            <input
              type="text"
              name="Phone"
              id="Phone"
              class="input-text"
              formControlName="phone"
              required
            />
            <i class="fas fa-user"></i>
            <label for="re">Chọn bộ môn</label>
            <select class="form-select input-text" style="border: 1px solid #3786bd; width: 95%;" formControlName="subjectId">
              <option value="">Chọn bộ môn</option>
              <option *ngFor="let data of listSubjects" value={{data.subjectId}}>{{data.subjectName}}</option>
            </select>
            <i class="fas fa-user"></i>
            <label for="re">Hướng nghiên cứu</label>
            <input
              type="text"
              name="re"
              id="re"
              class="input-text"
              formControlName="researchDirection"
              required
            />
            <i class="fas fa-user"></i>
            <label for="re">Chọn giới tính</label>
            <select class="form-select input-text" style="border: 1px solid #3786bd; width: 95%;" formControlName="sex">
              <option value="">Chọn giới tính</option>
              <option value="Nam">Nam</option>
              <option value="Nữ">Nữ</option>
            </select>
            <i class="fas fa-user"></i>
          </div>
        </form>
        <form class="form-detail" [formGroup]="edituserForm">
          <div class="form-row">
            <label for="your-email">Username</label>
            <input
              type="email"
              name="your-email"
              id="your-email"
              class="input-text"
              required
              pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"
              formControlName = 'username'
            />
            <i class="fas fa-envelope"></i>
          </div>
          <div class="form-row">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="input-text"
              required
              formControlName = 'password'
            />
            <i class="fas fa-lock"></i>
          </div>
          <div class="form-row">
            <label for="password">New Password</label>
            <input
              type="password"
              name="newpassword"
              id="newpassword"
              class="input-text"
              required
              formControlName = 'newPassword'
            />
            <i class="fas fa-lock"></i>
          </div>
          <div class="form-row-last">
            <input
              type="submit"
              name="register"
              class="register"
              value="Register"
              (click)="addEditTeacher()"
            />
          </div>
          <div class="error-message">{{message}}</div>
        </form>
      </div>
    </div>
  </main>
  <!-- End #main -->
</div>
<app-footer></app-footer>
