<app-hearder></app-hearder>
<div class="menu-main">
  <app-menu></app-menu>
  <main id="main" class="main">
    <div class="pagetitle">
      <div>
        <h1>Biểu đồ tỷ lệ sinh viên thực hiện bảo vệ thành công/tổng theo từng đợt/bộ môn</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Khoa</a></li>
          </ol>
        </nav>
      </div>
      <div class="btn-group">
        <div class="btn-group">
          <h1 style="margin-top: 5px">Chọn bộ môn</h1>
          <button
            style="background: #4154f1; margin-left: 15px"
            type="button"
            class="btn btn-primary dropdown-toggle"
            (click)="showDropdown()"
          >
            {{ nameSubject }}
          </button>
          <div class="dropdown-menu" [ngClass]="{ show: isshowDropdown }">
            <a
              class="dropdown-item"
              (click)="
                handleDropdownSubjectClick(data.subjectId, data.subjectName)
              "
              *ngFor="let data of listSubjects"
              >{{ data.subjectName }}</a
            >
          </div>
        </div>
        <div class="btn-group" style="margin-left: 200px">
          <h1 style="margin-top: 5px">Chọn đợt</h1>
          <button
            style="background: #4154f1; margin-left: 15px"
            type="button"
            class="btn btn-primary dropdown-toggle"
            (click)="showDropdownMaster()"
          >
            {{ nameMaster }}
          </button>
          <div class="dropdown-menu" [ngClass]="{ show: isshowDropdownMaster }">
            <a
              class="dropdown-item"
              (click)="
                handleDropdownMasterClick(data.masterId, data.masterName)
              "
              *ngFor="let data of listMaster"
              >{{ data.masterName }}</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>
  </main>
  <!-- End #main -->
</div>
<app-footer></app-footer>